* {
    margin: 0;
    box-sizing: border-box;
}
.Main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(79deg, #000000, #c652e9 48%, #370369);
}

.forumContainer {
    height: 30em;
    width: 35em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    justify-content: center;
    background-color: white;
}

.signinButton {
    border: none;
    height: 4em;
    width: 25%;
    margin-left: 210px;
    margin-top: 10px;
    border-radius: .25em;
    text-align: center;
    padding: 2em;
}

label {
    text-align: left;
    padding: 0.25rem 0;
}

input {
    border: none;
    height: 4em;
    width: 100%;
    border-radius: .25em;
    text-align: center;
    padding: 2em;
}

button {
    border: 1px;
    height: 4em;
    width: 100%;
    border-radius: .25em;
    text-align: center;
    padding: 2em;
    background-image: linear-gradient(79deg, #d0d2d2, #9ff5f7 48%, #bec3c3);
}

